:root {
  --background-grey: #2f3136;
  --navbar-grey: #202225;
  --text-white: #f2f2f2;
  --text-black: #000000;
  --blurple: #5865f2;
  --green: #3ba55d;
  --red: #ed4245;
}

body {
  color: var(--text-white);
  background-color: var(--background-grey);
  font-family: "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: auto;
}

.buttonList {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  color: var(--text-white);
  background-color: var(--blurple);
  font-style: bold;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  transition-duration: 250ms;
}

button:hover {
  transform: scale(1.03);
  filter: brightness(75%);
}

button:active {
  transition-duration: 50ms;
  transform: scale(0.97);
}

button:focus {
  outline: none;
}

#headerTitle {
  float: left;
  text-align: left;
  align-items: normal;
  margin-left: auto;
}

.topnav {
  background-color: var(--navbar-grey);
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: 0 2px 1px -1px black;
}

.topnav a {
  float: left;
  color: var(--text-white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--text-white);
  color: black;
}

.topnav a.active {
  background-color: var(--blurple);
  font-weight: bold;
}

#regForm {
  margin: 1rem auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid var(--text-black);
}

input.invalid {
  background-color: var(--text-black);
}

.tab {
  display: none;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: var(--green);
}

.imagePreview {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 160px;
}

.imagePreview img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 0.5rem solid var(--navbar-grey);
  object-fit: cover;
}

.imagePreview p {
  text-align: center;
  margin-top: 0.1rem;
  margin-left: 0.5rem;
}

.imageHover:hover ~ .imagePreview {
  display: block;
}

#toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: var(--red);
  color: var(--text-white);
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
