:root {
  --background-grey: #36393f;
  --light-navbar-grey: #2f3136;
  --mid-navbar-grey: #292b2f;
  --navbar-grey: #202225;
  --icons-grey: #8e9297;
  --background-selected: #353a46;
  --background-hover: #373a3f;
  --text-white: #f2f2f2;
  --text-black: #000000;
  --blurple: #5865f2;
  --green: #3ba55d;
  --red: #ed4245;
  --soft-pink: #f08ba2;
}

body {
  color: var(--text-white);
  background-color: var(--background-grey);
  font-family: "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: auto;
}

.buttonList {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  color: var(--text-white);
  background-color: var(--blurple);
  font-style: bold;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  transition-duration: 250ms;
}

button:hover {
  transform: scale(1.03);
  filter: brightness(75%);
}

button:active {
  transition-duration: 50ms;
  transform: scale(0.97);
}

button:focus {
  outline: none;
}

#headerTitle {
  float: left;
  text-align: left;
  align-items: normal;
  margin-left: auto;
}

.topnav {
  background-color: var(--navbar-grey);
  overflow: hidden;
  z-index: 1000;
  margin-bottom: 1px;
  box-shadow: 0 2px 1px -1px black;
}

.topnav a {
  float: left;
  color: var(--text-white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--text-white);
  color: black;
}

.topnav a.active {
  background-color: var(--blurple);
  font-weight: bold;
}

#regForm {
  margin: 1rem auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid var(--text-black);
}

input.invalid {
  background-color: var(--text-black);
}

.tab {
  display: none;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: var(--green);
}

.imagePreview {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 160px;
}

.imagePreview img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 0.5rem solid var(--navbar-grey);
  object-fit: cover;
}

.imagePreview p {
  text-align: center;
  margin-top: 0.1rem;
  margin-left: 0.5rem;
}

.imageHover:hover ~ .imagePreview {
  display: block;
}

#toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: var(--red);
  color: var(--text-white);
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  width: 78px;
  background: var(--light-navbar-grey);
  padding: 6px 6px 6px 0px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open {
  width: 250px;
}
.topnav .logo-details {
  height: 60px;
  width: 250px;
  display: flex;
  align-items: center;
  position: relative;
}
.topnav .logo-details .icon {
  height: 100%;
  padding: 0.5rem;
  transition: all 0.5s ease;
}
.topnav .logo-details .logo_name {
  color: var(--blurple);
  font-size: 20px;
  font-weight: 850;
  font-style: bold;
  transition: all 0.5s ease;
}

.topnav .logo-details #btn {
  position: absolute;
  right: 0;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  background: var(--light-navbar-grey);
  border-radius: 12px;
  height: 100%;
  padding: 0.5rem;
  margin: 0.5rem;
}

.topnav .logo-details #btn:hover {
  filter: brightness(75%);
}

.sidebar i {
  color: var(--icons-grey);
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: var(--text-white);
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 0px 12px 12px 0px;
  align-items: center;
  text-decoration: none;
  transition: width 0.4s ease;
}
.sidebar li a:hover {
  background: var(--background-hover);
}

.sidebar li a.active {
  background: var(--background-selected);
  border-left: solid 0.15rem var(--blurple);
}
.sidebar li a.active span,
.sidebar li a.active i {
  color: var(--text-white);
}

.sidebar li a .links_name {
  color: var(--icons-grey);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: 0.5s ease;
  color: var(--text-white);
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  background: var(--mid-navbar-grey);
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile {
  width: 250px;
}
.sidebar li .profile-details {
  height: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li .profile-details .fa-github-square {
  font-size: 50px;
}

.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 12px;
}
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: var(--navbar-grey);
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}
.home-section {
  position: relative;
  background: var(--text-white);
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

.progress {
  border-radius: 30px;
  background-color: #fff;
}

#progress-bar {
  height: 18px;
  border-radius: 30px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved #progress-bar {
  background-color: var(--blurple);
  box-shadow: 0 0 40px var(--blurple);
  width: 0%;
}
